<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Voyant BarkBase</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="add-dog" class="menu-contact">
      Add Dog
    </LinkTo>
  </div>
</nav>